<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' type='text/css' href='/css/style.css' />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
    <title>The Tech Blog</title>
</head>

<body>
    <div class="wrapper">
        <header>
            <h1>My Tech Blog </h1>
            <nav>
                {{#if loggedIn}}
                <a href="/" class="homepage">Homepage</a>
                <a href="/dashboard">Dashboard</a>
                <button id="logout" class="btn-no-style">Logout</button>
                {{else}}
                <a href="/" class="homepage">Homepage</a>
                <a href="/login">Login</a>
                {{/if}}
            </nav>
        </header>
        <main>
            {{{ body }}}
        </main>
    </div>

    {{#if loggedIn}}
    <script src="/js/logout.js"></script>
    {{/if}}

</body>

</html>